body {
  background-color: rgb(18, 14, 114);
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(235, 123, 12);
  height: 650px;
  width: 500px;
  border: 5px solid black;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: -9px 0px 100px black;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 7px solid black;
}
