body {
  background-color: rgb(192, 147, 234);
  text-align: center;
  align-content: center;
}
h1 {
  margin-top: 30px;
  color: black;
  font-weight: 100;
  font-weight: bold;
}

.timetable {
  margin-top: 80px;
  background-color: bisque;
  border-collapse: collapse;
  width: 90%;
  margin-left: 50px;
  height: 90%;
  padding: 20px;
}

.timetable th,
.timetable td {
  border: 2px solid black;
  padding: 12px;
  text-align: center;
}

.head {
  background-color: black;
  color: antiquewhite;
}

.col {
  background-color: aqua;
}

.col1 {
  background-color: aqua;
}

.timetable td {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
